---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1%20Infinite%20Loop,%20Cupertino,%20CA%2095014&key=SecretKey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - San Jose, CA
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"Infinite Loop
        1\",\n               \"short_name\" : \"Infinite Loop 1\",\n               \"types\"
        : \n               [\n                  \"premise\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"1\",\n               \"short_name\"
        : \"1\",\n               \"types\" : \n               [\n                  \"street_number\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Infinite Loop\",\n               \"short_name\" : \"Infinite Loop\",\n
        \              \"types\" : \n            [...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_MAP_API_KEY>&lat=37.3318598&lon=-122.0302485&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.0302,"lat":37.3319},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":8.63,"feels_like":8.24,"temp_min":7.39,"temp_max":10.15,"pressure":1017,"humidity":83,"sea_level":1017,"grnd_level":992},"visibility":10000,"wind":{"speed":1.37,"deg":221,"gust":1.41},"clouds":{"all":8},"dt":1747222631,"sys":{"type":2,"id":2001717,"country":"US","sunrise":1747227596,"sunset":1747278549},"timezone":-25200,"id":5341145,"name":"Cupertino","cod":200}'
  recorded_at: Wed, 14 May 2025 11:38:56 GMT
recorded_with: VCR 6.3.1
