---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address=123%20Fake%20Street,%20Nowhere,%20XX%2000000&benchmark=Public_AR_Current&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"address":"123 Fake Street, Nowhere,
        XX 00000"},"benchmark":{"isDefault":true,"benchmarkDescription":"Public Address
        Ranges - Current Benchmark","id":"4","benchmarkName":"Public_AR_Current"}},"addressMatches":[]}}'
  recorded_at: Wed, 14 May 2025 02:07:39 GMT
recorded_with: VCR 6.3.1
