---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address=1207%20Network%20Centre%20Dr,%20Effingham,%20IL%2062401,%20USA&benchmark=Public_AR_Current&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"address":"1207 Network Centre Dr, Effingham,
        IL 62401, USA"},"benchmark":{"isDefault":true,"benchmarkDescription":"Public
        Address Ranges - Current Benchmark","id":"4","benchmarkName":"Public_AR_Current"}},"addressMatches":[{"tigerLine":{"side":"L","tigerLineId":"94771314"},"coordinates":{"x":-88.524643170304,"y":39.145786699792},"addressComponents":{"zip":"62401","streetName":"NETWORK
        CENTRE","preType":"","city":"EFFINGHAM","preDirection":"","suffixDirection":"","fromAddress":"1201","state":"IL","suffixType":"DR","toAddress":"1299","suffixQualifier":"","preQualifier":""},"matchedAddress":"1207
        NETWORK CENTRE DR, EFFINGHAM, IL, 62401"}]}}'
  recorded_at: Wed, 14 May 2025 02:07:38 GMT
recorded_with: VCR 6.3.1
