---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1%20Infinite%20Loop,%20Cupertino,%20CA%2095014&key=<GOOGLE_GEOCODING_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - San Jose, CA
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"Infinite Loop
        1\",\n               \"short_name\" : \"Infinite Loop 1\",\n               \"types\"
        : \n               [\n                  \"premise\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"1\",\n               \"short_name\"
        : \"1\",\n               \"types\" : \n               [\n                  \"street_number\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Infinite Loop\",\n               \"short_name\" : \"Infinite Loop\",\n
        \              \"types\" : \n            [...]
